@import './css-reset.css';

body {
  margin: 0;
}

#added-books {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 20px;
}

.book-list {
  list-style-type: none;
}

.card {
  border: 2px solid #eee;
  width: 70%;
  margin: 15px 0 15px 0;
}

.heading {
  text-align: center;
  font-size: 30px;
  margin: 20px 0;
}

.margin-b {
  margin-bottom: 50px;
}

.book-form {
  display: flex;
  align-items: center;
  flex-direction: column;
  margin: 10px 0 0 0;
}

#form {
  display: flex;
  flex-direction: column;
  width: 52%;
  align-items: flex-end;
}

.my-10 {
  margin-top: 10px;
  margin-bottom: 10px;
}

.input-item {
  width: 100%;
  padding: 10px;
}

.btn-submit {
  width: 20%;
  padding: 10px;
}

.book-item {
  display: flex;
  justify-content: space-between;
  padding: 10px;
}

.bg-black {
  background-color: rgb(209, 207, 207);
}

hr {
  width: 30%;
}

.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px 20px;
  margin: 5px 5px 10px 5px;
  border: 2px solid #eee;
}

.nav-container {
  display: flex;
  list-style: none;
}

.nav-item {
  padding: 8px;
}

.vl {
  border-right: 2px solid #eee;
}

.contact-section {
  width: 70%;
  text-align: left;
  margin: auto;
}

.contact-info {
  margin: 0 0 20px 0;
}

.heading-4 {
  padding-top: 50px;
  text-align: center;
  margin-top: 40px;
  border: 1px solid #eee;
  border-radius: 10px;
  height: 50px;
}

section {
  min-height: 70vh;
}

.message {
  color: green;
  text-align: center;
  width: 100%;
}

.center {
  text-align: center;
  padding: 15px 0;
  color: crimson;
}

.date {
  position: absolute;
  right: 0;
  margin-right: 30px;
}
